.env
.env.save
node_modules/
outputs
looks
reactions/
*.mp3
*.mp4
*.wav
*.m4a
nohup.out
*.log
.DS_Store
reference_model.png
styles/
edit_history.json
state.json
styles_par_look.json
logs/
FETCH_HEAD
__pycache__/
*.pyc
